.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HACKED THEME ANIMATIONS */
@keyframes glitch {
  0% {
    text-shadow: 2px 2px red, -2px -2px blue;
  }
  20% {
    text-shadow: -2px 2px red, 2px -2px blue;
  }
  40% {
    text-shadow: 4px -4px red, -4px 4px blue;
  }
  60% {
    text-shadow: -4px -4px red, 4px 4px blue;
  }
  80% {
    text-shadow: 2px -2px red, -2px 2px blue;
  }
  100% {
    text-shadow: 2px 2px red, -2px -2px blue;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(3px, -3px);
  }
  50% {
    transform: translate(-3px, 3px);
  }
  75% {
    transform: translate(3px, 3px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
